/* Apply consistent styling to all labels */
form label {
  background-color: rgb(118, 192, 192); /* Background color */
  color: black; /* Text color */
  border-radius: 10px; /* Border radius */
  display: inline-block; /* Ensure labels are displayed inline */
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 5px 10px 5px 0; /* Adjust margin as needed */
}

/* Adjust spacing between label and input */
form .row > div {
  margin-bottom: 10px; /* Adjust margin as needed */
}

/* Apply consistent styling to all input fields */
form input[type="text"],
form input[type="date"],
form input[type="checkbox"] {
  min-width: 10rem; /* Minimum width */
  min-height: 2rem; /* Minimum height */
  border-radius: 10px; /* Border radius */
  margin: 5px 0; /* Adjust margin as needed */
}

.custom-button.btn-success {
  background-color: rgb(118, 192, 192);
  color: #0f0f0f;
  border-color: rgb(118, 192, 192);
  min-width: 12rem; /* Minimum width */
  min-height: 3rem; /* Minimum height */
  border-radius: 20px; /* Border radius */
  margin: 5px 0; /* Adjust margin as needed */
  display: inline-block;
  cursor: pointer; /* Ensure cursor changes to pointer on hover */

  /* Add shadow effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow properties as needed */
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */

  /* Bring the button up */
  position: relative;
  top: -3px; /* Adjust this value to bring the button up */
}

/* Add hover effect for button */
.custom-button.btn-success:hover {
  box-shadow: 1 5px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */
  top: -1px; /* Adjust this value to bring the button up on hover */
}
.date-label {
  background-color: rgb(118, 192, 192);
  color: black;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0;
}
.card {
    border-radius: 20px; /* Adjust the value as needed to change the degree of curvature */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as needed */
}
.checkbox-label {
  display: flex;
  align-items: center;
}
.long-label {
  width: 500px; /* Adjust the width as needed */
}
